﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Claim Request Management</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/Assets/plugins/global/plugins.bundle.css" rel="stylesheet" />
    <link href="~/Assets/css/style.bundle.css" rel="stylesheet" />
    <link href="~/Assets/css/themes/layout/header/base/light.css" rel="stylesheet" />
    <link href="~/Assets/css/themes/layout/header/menu/light.css" rel="stylesheet" />
    <link href="~/Assets/css/themes/layout/brand/dark.css" rel="stylesheet" />
    <link href="~/Assets/css/themes/layout/aside/dark.css" rel="stylesheet" />
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    @Html.Partial("_PartialHeaderMobile")
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
            @Html.Partial("_PartialSidebar")
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                @Html.Partial("_PartialHeader")
                <div class="content d-flex flex-column flex-column-fluid pb-0" id="kt_content">
                    <div class="d-flex flex-column-fluid">
                        <div class="container">
                            @RenderBody()
                        </div>
                    </div>
                    @Html.Partial("_PartialFooter")
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
<script src="~/Assets/plugins/global/plugins.bundle.js"></script>
<script src="~/Assets/js/scripts.bundle.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
