﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="topbar-item">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <button class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">Hello,</span>
                <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">@User.Identity.GetUserName()</span>
                <span class="symbol symbol-lg-35 symbol-25 symbol-light-success">
                    <span class="symbol-label font-size-h5 font-weight-bold">@User.Identity.GetUserName().Substring(0,1).ToUpper()</span>
                </span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-anim-up p-4" id="dropdown-login" aria-labelledby="dropdown-login">
                <li class="dropdown-item"><a href="#"><i class="fas fa-user text-primary"></i>Profile</a></li>
                <li class="dropdown-item"><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-sign-out-alt text-primary"></i>Log off</a></li>
            </ul>
        }
    </div>
}
else
{
<div class="topbar-item">
    <a class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2" href="@Url.Action("Login","Account",routeValues: null)">
        <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">Login</span>
        <span class="symbol symbol-lg-35 symbol-25 symbol-light-success">
            <span class="symbol-label font-size-h5 font-weight-bold">L</span>
        </span>
    </a>
    @*<ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>*@
</div>
}
