﻿@model IdentitySample.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="login-signin">
    <div class="mb-20">
        <h3>Login</h3>
        <div class="text-muted font-weight-bold">Enter your details to login to your account:</div>
    </div>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", @id = "kt_login_signin_form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group mb-5">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control h-auto form-control-solid py-4 px-8", placeholder = "Email", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group mb-5">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control h-auto form-control-solid py-4 px-8", placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
            <div class="checkbox-inline">
                <label class="checkbox m-0 text-muted">
                    <input type="checkbox" name="RememberMe" />
                    <span></span>Remember me
                </label>

            </div>
            @Html.ActionLink("Forget password?", "ForgotPassword", null,new { @class = "text-muted text-hover-primary" })
        </div>
        <button type="submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">Login</button>
    }

    <div class="mt-10">
        <span class="opacity-70 mr-4">Don't have an account yet?</span>
        @Html.ActionLink("Register now!", "Register",null, new { @class = "text-muted text-hover-primary font-weight-bold" })
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
