﻿@model IdentitySample.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-signin">
    <div class="mb-20">
        <h3>Register</h3>
        <div class="text-muted font-weight-bold">Enter your details to create your account</div>
    </div>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group mb-5">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control h-auto form-control-solid py-4 px-8", placeholder = "Email", autocomplete = "off" })
        </div>
        <div class="form-group mb-5">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control h-auto form-control-solid py-4 px-8", placeholder = "Password" })
        </div>
        <div class="form-group mb-5">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control h-auto form-control-solid py-4 px-8", placeholder = "Confirm password" })
        </div>
        <div class="form-group d-flex flex-wrap flex-center mt-10">
            <input type="submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2" value="Register" />
            <a class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-2" href="@Url.Action("Login","Account")">Cancel</a>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
