﻿@model G2.ClaimRequest.Web.Models.ProjectViewModel

@{
    ViewBag.Title = "Create Project";
}
@using (Html.BeginForm())
{
    <div class="card card-custom mb-5 mt-5 mt-sm-0">
        @Html.AntiForgeryToken()

        <div class="card-header p-4">
            <a href="@Url.Action("Index")" class="btn btn-link text-primary font-size-h5"><i class="fas fa-chevron-left"></i>Back</a>
            <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-plus"></i>Create</button>
        </div>
        <div class="card-body px-0 px-sm-4">
            <div class="form-horizontal col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProjectCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProjectCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProjectCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="date" name="From" value="@Model.From" class="form-control"/>
                        @*@Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="date" name="To" value="@Model.To" class="form-control" />
                        @*@Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PMId, "PM", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("PMId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PMId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.QAId, "QA", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("QAId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.QAId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TechnicalLeads, "Technical Leads", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ListBoxFor(model => model.SelectedTechnicalLeads, Model.TechnicalLeads,
                        new
                        {
                            @class = "selectpicker form-control",
                            @multiple = "true",
                            @datalivesearch = "true",
                            @dataselectedtextformat = "count > 5",
                            @showmenuarrow = "true",
                            @liveSearch = "true",
                            @dataactionsbox = "true"
                        }
                       )
                        @Html.ValidationMessageFor(model => model.TechnicalLeads, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BAs, "BAs", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ListBoxFor(model => model.SelectedBAs, Model.BAs,
                        new
                        {
                            @class = "selectpicker form-control",
                            @multiple = "true",
                            @datalivesearch = "true",
                            @dataselectedtextformat = "count > 5",
                            @showmenuarrow = "true",
                            @liveSearch = "true",
                            @dataactionsbox = "true"
                        }
                       )
                        @Html.ValidationMessageFor(model => model.BAs, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Developers, "Developers", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ListBoxFor(model => model.SelectedDevelopers, Model.Developers,
                        new
                        {
                            @class = "selectpicker form-control",
                            @multiple = "true",
                            @datalivesearch = "true",
                            @dataselectedtextformat = "count > 5",
                            @showmenuarrow = "true",
                            @liveSearch = "true",
                            @dataactionsbox = "true"
                        }
                       )
                        @Html.ValidationMessageFor(model => model.Developers, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TechnicalConsultancies, "Technical Consultancies", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ListBoxFor(model => model.SelectedTechnicalConsultancies, Model.TechnicalConsultancies,
                        new
                        {
                            @class = "selectpicker form-control",
                            @multiple = "true",
                            @datalivesearch = "true",
                            @dataselectedtextformat = "count > 5",
                            @showmenuarrow = "true",
                            @liveSearch = "true",
                            @dataactionsbox = "true"
                        }
                       )
                        @Html.ValidationMessageFor(model => model.TechnicalConsultancies, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Testers, "Testers", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ListBoxFor(model => model.SelectedTesters, Model.Testers,
                        new
                        {
                            @class = "selectpicker form-control",
                            @multiple = "true",
                            @datalivesearch = "true",
                            @dataselectedtextformat = "count > 5",
                            @showmenuarrow = "true",
                            @liveSearch = "true",
                            @dataactionsbox = "true"
                        }
                       )
                        @Html.ValidationMessageFor(model => model.Testers, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/js/bootstrap-select.min.js"></script>
}
