﻿@model IEnumerable<G2.ClaimRequest.Web.Models.ProjectViewModel>

@{
    ViewBag.Title = "Project";
}
<div class="card card-custom mb-5 mt-5 mt-sm-0">
    <div class="card-header p-4">
        <a href="@Url.Action("Create")" class="btn btn-success"><i class="fas fa-plus"></i>Create New</a>
    </div>
    <div class="card-body">
        <div class="form-group dataTables_wrapper dt-bootstrap4 no-footer">
            <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline">
                <tr>
                    <th>
                        PM
                    </th>
                    <th>
                        QA
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectCode)
                    </th>
                    <th>
                        Duration
                    </th>
                    
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PM.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QA.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectCode)
                        </td>
                        <td>
                            @((item.To - item.From).TotalDays) days
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.ProjectId})" class="btn btn-clean text-info"><i class='fas fa-edit text-info'></i> Edit</a>
                            <a href="@Url.Action("Delete", new { id = item.ProjectId})" class="btn btn-clean text-danger"><i class='fas fa-trash text-danger'></i> Delete</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>