﻿@model G2.ClaimRequest.Core.Models.ClaimDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClaimDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Claim.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Claim.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromTimeWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromTimeWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToTimeWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToTimeWork)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClaimDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
