﻿@model IEnumerable<G2.ClaimRequest.Core.Models.ClaimDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Claim.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromTimeWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToTimeWork)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Claim.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromTimeWork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToTimeWork)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClaimDetailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClaimDetailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClaimDetailId })
        </td>
    </tr>
}

</table>
