﻿@model IdentitySample.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    <div class="card card-custom mb-5 mt-5 mt-sm-0">
        @Html.AntiForgeryToken()
        <div class="card-header p-4">
            <a href="@Url.Action("Index")" class="btn btn-link text-primary font-size-h5"><i class="fas fa-chevron-left"></i>Back</a>
            <button type="submit" class="btn btn-sm btn-success">Save</button>
        </div>
        <div class="card-body px-0 px-sm-4">
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Select User Role
                    </label>
                    <div class="col-12 col-md-6">
                        <div class="checkbox-inline">
                            @foreach (var item in Model.RolesList)
                            {
                                <label class="checkbox"><input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" /><span></span>@item.Value</label>
                            }
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StaffName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-12 col-md-6">
                        @Html.EditorFor(model => model.StaffName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StaffName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-12 col-md-6">
                        @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.JobRank, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-12 col-md-6">
                        @Html.EditorFor(model => model.JobRank, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JobRank, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-12 col-md-6">
                        @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                    </div>
                </div>

                
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
