﻿@model IEnumerable<G2.ClaimRequest.Web.Models.StaffViewModel>

@{
    ViewBag.Title = "Staff";
}
<div class="card card-custom mb-5 mt-5 mt-sm-0">
    <div class="card-header p-4">
        <a href="@Url.Action("Create")" class="btn btn-success"><i class="fas fa-plus"></i>Create New</a>
    </div>
    <div class="card-body">
        <div class="form-group dataTables_wrapper dt-bootstrap4 no-footer">
            <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.StaffName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobRank)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Salary)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StaffName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobRank)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Salary)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.Id})" class="btn btn-clean text-info"><i class='fas fa-edit text-info'></i> Edit</a>
                            <a href="@Url.Action("Delete", new { id = item.Id})" class="btn btn-clean text-danger"><i class='fas fa-trash text-danger'></i> Delete</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>