﻿@model G2.ClaimRequest.Core.Models.Claim

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Claim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Staff.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalWorkingHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalWorkingHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditTrail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditTrail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClaimId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
