﻿@model G2.ClaimRequest.Web.Models.ClaimViewModel

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    <div class="card card-custom mb-5 mt-5 mt-sm-0">
        @Html.AntiForgeryToken()

        <div class="card-header p-4">
            <a href="@Url.Action("Index")" class="btn btn-link text-primary font-size-h5"><i class="fas fa-chevron-left"></i>Back</a>
            <div>
                <input type="submit" name="save" class="btn btn-lg btn-success" value="Save" />
                <input type="submit" name="submitClaim" class="btn btn-lg btn-success" value="Submit" />
            </div>
        </div>
        <div class="card-body px-0 px-sm-4">
            <div class="form-horizontal col-md-10">
                <div class="form-group text-right">
                    <label><span class="font-weight-bold">Claim Status: </span>Draft</label>
                    <input type="hidden" name="ClaimId" value="@Model.ClaimId" />
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.StaffId, "StaffId", htmlAttributes: new { @class = "control-label font-weight-bold" })
                        <p>@ViewBag.StaffId</p>
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.StaffId, "Staff Name", htmlAttributes: new { @class = "control-label font-weight-bold" })
                        <p>@ViewBag.StaffName</p>
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.StaffId, "Staff Department", htmlAttributes: new { @class = "control-label font-weight-bold" })
                        <p>@ViewBag.StaffDepartment</p>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        @Html.Label("Project Name", htmlAttributes: new { @class = "control-label font-weight-bold" })
                        @Html.DropDownList("ProjectId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Role In Project", htmlAttributes: new { @class = "control-label font-weight-bold" })
                        <p id="text-role">Developer</p>
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Project Duration", htmlAttributes: new { @class = "control-label font-weight-bold" })
                        <p id="text-duration"></p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Total Working Hour", htmlAttributes: new { @class = "control-label font-weight-bold" })

                    <input class="form-control" name="TotalWorkingHour" id="TotalWorkingHour" value="@Model.TotalWorkingHour" readonly />

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label font-weight-bold" })
                    @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary" id="add-more" data-toggle="modal" data-target="#add-more-modal">Add more</button>
                </div>
                <div class="form-group dataTables_wrapper dt-bootstrap4 no-footer">
                    <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline" role="grid">
                        <tr scope="row">
                            <th>Day</th>
                            <th>Date</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Total No. of Hours</th>
                            <th>Remarks</th>
                            <th></th>
                        </tr>
                        <tbody id="table-claim-detail">
                            @if (Model.ClaimDetails != null)
                            {
                                foreach (var detail in Model.ClaimDetails)
                                {
                                    <tr scope="row">
                                        <td>@detail.Date.DayOfWeek</td>
                                        <td>@detail.Date.ToShortDateString()</td>
                                        <td>@detail.FromTimeWork.ToString("hh:mm")</td>
                                        <td>@detail.ToTimeWork.ToString("hh:mm")</td>
                                        <td><span class="hours">@detail.TotalWorkHours</span></td>
                                        <td>@detail.Remarks</td>
                                        <td><button class="btn btn-link btn-sm text-danger btn-delete" id="@detail.ClaimDetailId"><i class="fas fa-trash text-danger"></i>Delete</button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="add-more-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Claim detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Date</label>
                    <input class="form-control" type="date" name="date" id="date" value="" />
                </div>
                <div class="form-group">
                    <label>Day</label>
                    <input class="form-control" type="text" name="day" id="day" value="" readonly />
                </div>
                <div class="form-group">
                    <label>From</label>
                    <input class="form-control" type="time" name="from" id="from" value="" />
                </div>
                <div class="form-group">
                    <label>To</label>
                    <input class="form-control" type="time" name="to" id="to" value="" />
                </div>
                <div class="form-group">
                    <label>Total No. of Hours</label>
                    <input class="form-control" type="number" name="hours" id="hours" value="" />
                </div>
                <div class="form-group">
                    <label>Remarks</label>
                    <textarea name="remarks" id="remarks" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add-detail" data-dismiss="modal">Add detail</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var id = 0;
            $("#add-detail").click(function () {
                id += 1;
                var day = $("#day").val();
                var date = $("#date").val();
                var from = $("#from").val();
                var to = $("#to").val();
                var hours = $("#hours").val();
                var remarks = $("#remarks").val();
                var element = `<tr scope="row">
                                        <td>${day}</td>
                                        <td>${date}</td>
                                        <td>${from}</td>
                                        <td>${to}</td>
                                        <td><span class="hours">${hours}</span></td>
                                        <td>${remarks}</td>
                                        <td><button class="btn btn-link btn-sm text-danger btn-delete" id="${id}"><i class="fas fa-trash text-danger"></i>Delete</button></td>
                                        </tr>`;
                $("#table-claim-detail").append(element);
                var totalHour = 0;
                var hourElement = document.querySelectorAll(".hours");
                for (let i = 0; i < hourElement.length; i++) {
                    totalHour += parseFloat(hourElement[i].innerHTML);
                }

                $("#TotalWorkingHour").val(totalHour);
                $("#add-more-modal").modal("toggle");
                $.ajax({
                    url: "@Url.Action("CreateClaimDetail", "Claims")",
                    type: "post",
                    data: {
                        id: id,
                        day: day,
                        date: date,
                        from: from,
                        to: to,
                        hours: hours,
                        remarks: remarks
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });
                $("#day").val('');
                $("#date").val('');
                $("#from").val('');
                $("#to").val('');
                $("#hours").val('');
                $("#remarks").val('');
            });
            $("#date").on("change", function () {
                var newDate = new Date($(this).val());
                var day = newDate.getDay();
                var value = "";
                switch (day) {
                    case 0:
                        value = "Sunday";
                        break;
                    case 1:
                        value = "Monday";
                        break;
                    case 2:
                        value = "Tuesday";
                        break;
                    case 3:
                        value = "Wednesday";
                        break;
                    case 4:
                        value = "Thursday";
                        break;
                    case 5:
                        value = "Friday";
                        break;
                    case 6:
                        value = "Saturday";
                        break;
                    default:
                        value = "";
                }
                $("#day").val(value);
            })
            $(document).on("click", ".btn-delete", function () {
                $(this).parent().parent().remove();
                var totalHour = 0;
                var hourElement = document.querySelectorAll(".hours");
                for (let i = 0; i < hourElement.length; i++) {
                    totalHour += parseFloat(hourElement[i].innerHTML);
                }
                $("#TotalWorkingHour").val(totalHour);
                var claimDetailId = this.id;
                $.ajax({
                    url: "@Url.Action("DeleteClaimDetail", "Claims")",
                    type: "post",
                    data: {
                        id: claimDetailId
                    },
                    success: function (data) {
                        console.log(data);
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            })

        })
    </script>
}
