﻿@model IEnumerable<G2.ClaimRequest.Web.Models.ClaimViewModel>
@using Microsoft.AspNet.Identity;


<div class="card card-custom mb-5 mt-5 mt-sm-0">

    <div class="card-body">
        <div class="dataTables_wrapper dt-bootstrap4 no-footer">
            <form action="@Url.Action("PaidClaim")" method="post">
                <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Staff.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Remarks)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalWorkingHour)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Staff.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalWorkingHour)
                    </td>
                    <td>
                        @if (item.Status == G2.ClaimRequest.Web.Models.Status.Paid)
                        {
                            <span class="label label-success label-dot mr-2"></span>
                            <span class="font-weight-bold text-success">@item.Status</span>
                        }
                        else if (item.Status == G2.ClaimRequest.Web.Models.Status.Approved)
                        {
                            <span class="label label-primary label-dot mr-2"></span>
                            <span class="font-weight-bold text-primary">@item.Status</span>
                        }
                    </td>
                    <td>
                        <input type="checkbox" name="SelectedClaims" value="@item.ClaimId" />
                    </td>
                </tr>
                    }

                </table>
                <div class="text-right">
                    <input class="btn btn-primary" type="submit" name="paid" value="Paid" />
                </div>
            </form>
        </div>
    </div>
</div>
