﻿@model IEnumerable<G2.ClaimRequest.Web.Models.ClaimViewModel>
@using Microsoft.AspNet.Identity;


<div class="card card-custom mb-5 mt-5 mt-sm-0">

    <div class="card-body">
        <div class="form-group dataTables_wrapper dt-bootstrap4 no-footer">
            <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Staff.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalWorkingHour)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Remarks)
                    </th>
                    <th>
                        Project Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Staff.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalWorkingHour)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>
                        <td>
                            @*@item.Staff.Projects.FirstOrDefault(p => p.Project.PMId == User.Identity.GetUserId()).Project.ProjectName*@
                        </td>
                        <td>
                            @if (item.Status == G2.ClaimRequest.Web.Models.Status.Approved)
                            {
                                <span class="label label-primary label-dot mr-2"></span>
                                <span class="font-weight-bold text-primary">@item.Status</span>
                            }
                            else if (item.Status == G2.ClaimRequest.Web.Models.Status.PenddingApproval)
                            {
                                <span class="label label-warning label-dot mr-2"></span>
                                <span class="font-weight-bold text-warning">@item.Status</span>
                            }
                            else
                            {
                                <span class="label label-default label-dot mr-2"></span>
                                <span class="font-weight-bold text-secondary">@item.Status</span>
                            }
                        </td>
                        <td>
                            @if (item.Status == G2.ClaimRequest.Web.Models.Status.PenddingApproval)
                            {
                                <a href="@Url.Action("ApproveOrRejectOrReturnClaim", new { claimId = item.ClaimId, actionClaim = "approve" })" class="btn btn-clean text-info">Approve</a>
                                <a href="@Url.Action("ApproveOrRejectOrReturnClaim", new { claimId = item.ClaimId, actionClaim = "reject" })" class="btn btn-clean text-danger">Reject</a>
                                <a href="@Url.Action("ApproveOrRejectOrReturnClaim", new { ClaimId = item.ClaimId, actionClaim = "return" })" class="btn btn-clean text-info">Return</a>
                            }
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>