﻿@model IEnumerable<G2.ClaimRequest.Web.Models.ClaimViewModel>

@{
    ViewBag.Title = "My Claims";
}

<div class="card card-custom mb-5 mt-5 mt-sm-0">
    <div class="card-header p-4">
        @if (User.IsInRole("Claimer"))
        {
            <a href="@Url.Action("Create")" class="btn btn-success"><i class="fas fa-plus"></i>Create New</a>
        }
    </div>
    <div class="card-body">
        <div class="form-group dataTables_wrapper dt-bootstrap4 no-footer">
            <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline">
                <tr>
                    <th>
                        Total Working Hour
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Remarks)
                    </th>
                    <th>
                        Audit Trail
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalWorkingHour)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>
                        <td>
                            @Html.Raw(item.AuditTrail)
                        </td>
                        <td>
                            @if (item.Status == G2.ClaimRequest.Web.Models.Status.Draft)
                            {
                                <span class="label label-primary label-dot mr-2"></span>
                                <span class="font-weight-bold text-primary">@item.Status</span>
                            }
                            else if (item.Status == G2.ClaimRequest.Web.Models.Status.PenddingApproval)
                            {
                                <span class="label label-success label-dot mr-2"></span>
                                <span class="font-weight-bold text-success">@item.Status</span>
                            }
                            else
                            {
                                <span class="label label-info label-dot mr-2"></span>
                                <span class="font-weight-bold text-info">@item.Status</span>
                            }
                        </td>
                        <td>
                            @if (item.Status == G2.ClaimRequest.Web.Models.Status.Draft && User.IsInRole("Claimer"))
                            {
                                <a href="@Url.Action("Edit", new { id = item.ClaimId})" class="btn btn-light-info"><i class='fas fa-edit'></i> Edit</a>
                                <a href="@Url.Action("Delete", new { id = item.ClaimId})" class="btn btn-light-danger"><i class='fas fa-trash'></i> Delete</a>
                            }
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>